* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: rgb(250, 250, 250);
}

/* sections styles */
.home,
.about {
  height: fit-content;
  display: flex;
  justify-content: center;
}

.home,
.about {
  align-items: center;
}

/* navbar style */
.nav {
  position: fixed;
  overflow: hidden;
  height: 5vh;
  width: 100%;
  display: flex;
  justify-content: end;
  margin-right: 2vh;
}

.nav-button {
  font-size: 2vh;
  font-weight: bold;
  margin: auto 12px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #252525;
  text-decoration: none;
}

/* home section styling */
.home {
  min-height: 100vh;
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
  width: 550px;
}

.info > h1 {
  font-size: 48px;
}

.info > p {
  margin: 12px 0;
}

.photo {
  margin-left: 24px;
  height: 400px;
  width: 400px;
  background-image: url("../attachments/me.png");
  background-size: 400px;
  animation: 15s cool-photo-border infinite alternate;
  position: relative;
}

.profile-photo {
  height: 400px;
  width: 400px;
}

.links-section,
.skills-section {
  margin: 12px 0;
}

.skills-section {
  display: flex;
  margin-top: 48px;
}

.link,
.skill {
  margin: 0 6px;
}

.skill {
  height: 30px;
  width: 30px;
}

.link-icon {
  height: 30px;
  width: 30px;
}

/* about section styling */
.about {
  height: fit-content;
}

.about-me {
  height: fit-content;
  width: fit-content;
  margin: 48px auto;
}

/* portfolio section styling */
.portfolio {
  height: fit-content;
  width: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  width: 400px;
  height: fit-content;
  background: orchid;
  margin: 12px;
  border-radius: 24px;
}

.progect-img {
  width: 372px;
  height: 270px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 12px;
  border-radius: 12px;
}

.project-descrip {
  width: 360px;
  margin: 0 20px;
}

.project-stack {
  display: flex;
  justify-content: space-evenly;
  margin: 24px 0;
}

/* contacts section styling */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  height: fit-content;
}

.footer-gret,
.footer-contacts {
  width: 40%;
  margin: 0 5%;
}

.footer-gret {
  font-size: 60px;
  font-size: bold;
  letter-spacing: 2px;
  text-align: center;
}

.footer-contacts-section {
  margin: 0 12px;
}

.contact {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.contact-badge {
  margin: 10px 6px 10px 0;
  height: 30px;
}

/* animations */
@keyframes cool-photo-border {
  0%,
  100% {
    border-radius: 54% 57% 62% 74%;
  }
  15% {
    border-radius: 62% 70% 63% 60%;
  }
  30% {
    border-radius: 51% 55% 80% 68%;
  }
  45% {
    border-radius: 68% 71% 63% 63%;
  }
  60% {
    border-radius: 64% 73% 57% 58%;
  }
  75% {
    border-radius: 79% 67% 71% 57%;
  }
  90% {
    border-radius: 66% 78% 57% 55%;
  }
}