* {
  margin: 0;
  padding: 0;
}

#nav {
  display: flex;
  justify-content: end;
}

#home {
  display: flex;
}

.home-links-section,
.home-skills-section {
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.home-links-section {
  margin: 12px 24px;
}

.home-skills-section {
  justify-content: center;
  margin: 24px 0;
}

.home-link {
  height: 4vh;
  width: 4vh;
}

.home-skill {
  height: 3vh;
  width: 3vh;
  transition-duration: 0.3s;
}

.home-skill:hover {
  scale: 1.2;
}

.project-stack {
  text-align: center;
  letter-spacing: 2px;
}

@media (max-width: 500px) {
  /* mobile navbar style */
  .nav-btn {
    height: 50px;
    width: 50px;
  }
  .nav-btn p {
    display: none;
  }
  #id-home {
    background: url("../attachments/navbar/icons8-home-50.png");
  }
  #id-about {
    display: none;
  }
  #id-portfolio {
    background: url("../attachments/navbar/icons8-view-quilt-50.png");
  }
  #id-contact {
    background: url("../attachments/navbar/icons8-contacts-50.png");
  }
  /* mobile home section style */
  #home {
    flex-direction: column-reverse;
  }
  .home-info {
    width: 380px;
    margin: auto;
  }
  .home-photo {
    height: 400px;
    width: 400px;
    background-image: url("../attachments/me.png");
    background-size: 400px;
    animation: 15s cool-photo-border infinite alternate;
    position: relative;
    margin: 3vh auto 1vh;
  }
  /* mobile about section style */
  #about {
    width: 380px;
    margin: 2vh auto;
  }
  #about h1 {
    text-align: center;
  }
  #about p {
    margin: 1vh 0;
  }
  /* mobile portfolio section style */
  #portfolio {
    width: calc(100% - 4vh);
    margin: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  #portfolio h1 {
    text-align: center;
  }
  .project {
    background: rgba(129, 129, 129, 0.3);
    width: calc(100% - 24px);
    margin: 0 auto;
    padding: 12px;
    border-radius: 18px;
  }
  .project-promo {
    background: rgba(129, 129, 129, 0.3);
    border-radius: 12px;
  }
  .progect-img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 12px;
    border: none;
  }
  .project-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .project-github-link {
    height: 30px;
    width: 30px;
    background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg");
  }
  .project-website-link {
    font-weight: bold;
    letter-spacing: 2px;
  }
  .project-descrip,
  .project-descrip p {
    margin: 1vh 0;
  }
  .project-stack {
    text-align: center;
    letter-spacing: 2px;
  }
  /* mobile portfolio section style */
  #contact {
    width: 100%;
    text-align: center;
  }
  .footer-contacts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .contact img {
    height: 3vh;
    margin-right: 2vh;
  }
}
@media (min-width: 501px) {
  #home,
  #about {
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  #home,
  #about {
    align-items: center;
  }
  /* navbar style */
  #nav {
    height: 5vh;
    width: 100%;
    margin-right: 2vh;
  }
  .nav-btn {
    font-size: 2vh;
    font-weight: bold;
    margin: auto 12px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: #252525;
    text-decoration: none;
  }
  /* home section styling */
  #home {
    height: 100vh;
  }
  .home-info {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    width: 550px;
  }
  .home-info > h1 {
    font-size: 48px;
  }
  .home-info > p {
    margin: 12px 0;
  }
  .home-photo {
    margin-left: 24px;
    height: 400px;
    width: 400px;
    background-image: url("../attachments/me.png");
    background-size: 400px;
    animation: 15s cool-photo-border infinite alternate;
    position: relative;
  }
  .profile-photo {
    height: 400px;
    width: 400px;
  }
  .links-section,
  .skills-section {
    margin: 12px 0;
  }
  .skills-section {
    display: flex;
    margin-top: 48px;
  }
  .link,
  .skill {
    margin: 0 6px;
  }
  .link img:hover,
  .skill:hover {
    transition-duration: 0.3s;
    scale: 1.2;
  }
  .skill {
    height: 30px;
    width: 30px;
  }
  .link-icon {
    height: 30px;
    width: 30px;
  }
  /* about section styling */
  #about {
    height: fit-content;
    margin: 48px auto;
    display: grid;
    grid-template-columns: 500px 500px;
    gap: 10px;
  }
  .about-me {
    background: rebeccapurple;
  }
  .about-decor-elem {
    background: rgb(153, 51, 119);
  }
  /* portfolio section styling */
  #portfolio {
    height: fit-content;
    width: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project {
    width: 848px;
    height: fit-content;
    background: orchid;
    display: flex;
    align-items: center;
    margin: 12px 0;
    border-radius: 18px;
  }
  .project-promo {
    margin: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 330px;
    width: 50%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .project-github-link {
    height: 30px;
    width: 30px;
    background: url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg");
  }
  .project-website-link {
    font-weight: bold;
  }
  .project-descrip {
    background-color: rgba(255, 255, 255, 0.5);
    width: 45%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .project-descrip > p {
    width: 90%;
    margin: 0 auto;
  }
  /* contacts section styling */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    height: fit-content;
  }
  .footer-contacts-section {
    margin: 0 12px;
  }
  .contact {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
  }
  .contact-badge {
    margin: 10px 6px 10px 0;
    height: 30px;
  }
}
/* animations */
@keyframes cool-photo-border {
  0%, 100% {
    border-radius: 50% 50% 60% 70%;
  }
  15% {
    border-radius: 60% 70% 60% 60%;
  }
  30% {
    border-radius: 50% 50% 80% 60%;
  }
  45% {
    border-radius: 60% 70% 60% 60%;
  }
  60% {
    border-radius: 60% 70% 50% 50%;
  }
  75% {
    border-radius: 70% 60% 70% 50%;
  }
  90% {
    border-radius: 60% 70% 50% 50%;
  }
}

/*# sourceMappingURL=style.css.map */
